.head {
    display: none;
}

.link {
    display: auto;
}

body {
    background-color: #000000;
}

h1 {
    padding: 25px;
    color: #c2155a; 
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
}

h2 {
    color: #E4A814;
    padding: 25px;
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
}

h3 {
    text-align: center;
    color: #c2155a;
}

.inline-block
{
    display: inline-block; 
    border: none;
    vertical-align: top;
}

.logo
{
    width: 23%;
    padding: 1%;
    text-align: center;

}

button {
    background-color: #9B61FF;
}

.nav {
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
    width: 73%;
    padding: 1%;
}

ul {
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
    color:#9B61FF;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: none;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
background-color: #F0F1F9;
padding: 5px;
border-radius: 50px;
}

.li {
    padding: 0px;
}

p {
    color: #AAD015;
    text-align: left;
    font-family: 'Space Mono Bold', 'IBM Plex Mono', 'Arial';
}
