@media only screen and (max-width: 600px) {
    [class*="col-50%"] {
        width: 50%;
    }
}

.head {
    display: none;
}

body {
    background-color: #000000;
}

a {
    color:#9B61FF;
    text-decoration-style: dotted;

}

h1 {
    padding: 10px;
    text-align: left;
    color: #C2155a; 
    font-family: 'IBM Plex Mono';
    font-size: 36px;
}

h2 {
    color: #E4A814;
    text-align: right;
    padding: 20px;
    font-family: 'IBM Plex Mono';
    font-size: 32px;
}

h5 {
    font-family: 'IBM Plex Mono';
    font-size: 36px;
    text-align: center;
    padding: 20px;
    color: #C2155a;
}

h3 {
    font-family: 'IBM Plex Mono';
    text-align: center;
    color: #C2155a;
    font-size: 24px;
}


.inline-block
{
    display: inline-block; 
    border: none;
    padding: none;
    margin-top: 5px;
    vertical-align: top;
}

.logo
{
    width: 23%;
    padding: 1%;
    text-align: center;

}

button {
    background-color: #9B61FF;
    border: dotted;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    transition-duration: 0.4s;
    font-family: 'IBM Plex Mono';
    font-size: 100%;
}

button:hover {
    background-color: #00C3A0;
}

.resumeButton {
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: dotted;
    padding: 0% 0%;
}

.nav {
    text-align: left;
    font-family: 'IBM Plex Mono';
    width: 100%;
    padding: 1%;
}

.desc {
    margin: 20px;
    color: #AAD015;
    text-align: left;
    font-family: 'Space Mono';
}

.sidebarNav
{
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    color:#9B61FF;
    background-color: none;
    width: 100%;
    margin-top: 2%;
    margin: 5px;
    list-style: none;
    display: inline-block;
    text-align: left;
}

ul {
    font-family: 'IBM Plex Mono';
    font-size: 20px;
    color:#9B61FF;
    background-color: none;
    width: 50%;
    margin-top: 5%;
    margin: 5px;
    list-style: none;
    display: inline-block;
    text-align: center;
}

hr {
    border: none;
    border-top: 2px dotted #00C3A0;
    color: #ffffff;
    background-color: none;
    height: 1px;
    width: 100%;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.aboutText {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: right, flex-end;
}

footer {
        padding: 10px;
        margin: 20%;
        font-size: 20px;
        color:#9B61FF;
        width: 70%;
        margin-top: 5%;
        list-style: none;
        display: inline-block;
        text-align: center;
    }

.fr {
    border: none;
    border-top: 2px dotted #00C3A0;
    display: auto;
    height: 1px;
}

.li {
    padding: 0px;
}

p {
    margin: 20px;
    color: #AAD015;
    text-align: center;
    font-family: 'Space Mono';
}

.sidebar {
    margin: auto;
    padding: 0px;
    color:#E4A814;
    text-align: left;
    margin: 20px;
}

.onPage {
    font-family: 'IBM Plex Mono';
    font-weight: bolder;
    font-size: 20px;
    color: #00C3A0;
    margin: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    border-bottom: 2px dotted;
}